.skills{
    font-family: 'Roboto', sans-serif;
}

.skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: 'League Spartan', sans-serif; 
}
.skills .skills-content .left p{
    text-align: justify;
}

.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px; 
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: '';
    position: absolute;
    height: 100%;
    
    left: 0;
    top: 0;
    background: #1ac6f4;
}

.skills-content .right .html::before{
    width: 80%;
}
.skills-content .right .css::before{
    width: 90%;
}
.skills-content .right .js::before{
    width: 70%;
}
.skills-content .right .ps::before{
    width: 84%;
}
.skills-content .right .git::before{
    width: 94%;
}

@media (max-width:947px){
    .skills .skills-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}