/* aditando una etiqueta, en caso de problema aditar aqui*/
section{
    padding: 100px 0;
}

.about{
    font-family: 'Roboto', sans-serif;
}

section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'League Spartan', sans-serif; 
    color: #1ac6f4;
}

section .title::before{
content: "";
position: absolute;
bottom: 0px;
left: 50%;
width: 180px;
height: 3px;
background: rgb(0, 114, 134);
transform: translateX(-50%);
}
section .title::after{
   
    position: absolute;
    bottom: -20px;
    left: 50%;
    font-size: 20px;
    color: #1ac6f4;
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}
.about .title::after{
    content: "Quien soy";
}
.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left{
    width: 45%;
    
}


.about .about-content .left .img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right{
    width: 55%;
}

.about .about-content .right .text{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.about .about-content .right .text span{
    color: #1ac6f4;
}
.about .about-content .right p{
    text-align: left;
}
.about .about-content .right a{
    display: inline-block;
    background: linear-gradient(to right,#1ac6f4, #72e0ff);
    color: #fff;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px;
    border-image-source:linear-gradient(to right,#1ac6f4, #72e0ff);;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: #1ac6f4;
    background: none;

}

@media (max-width: 1104px){
    .about .about-content .left .img{
        width: 350px;
        height: 350px;
      
    }
}

@media (max-width: 947px){
    .max-width{
        max-width: 800px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
}