.certificates{
    font-family: 'Roboto', sans-serif;
    background: #111;
    color: #fff;
}
.box img{
    width: 100%;
   
}
.certificates .title::before{
    background-color: #fff;
}
.certificates .title::after{
    background-color: #111;
    content: 'what i know';
}

.certificates .cert-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.certificates .cert-content .card{
    width: 32%;  
}
.certificates .cert-content .card .box{
    transition: all 0.3s ease; 
}

.certificates .cert-content .card:hover .box{
 transform: scale(1.05);
}

@media (max-width: 947px){
    .certificates .cert-content .card{
        width: 48%;
        margin-bottom: 20px;
    }
}

@media (max-width: 690px){
    .certificates .cert-content .card{
        width: 100%;
        
    }
}