.home{
    display: flex;
    background: url('./../../assets/banner.png') no-repeat center;
    object-fit: fill;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    color: #fff;
    min-height: 500px;  
    
    font-family: 'League Spartan', sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40px;

}

.home .home-content .text1{
    font-size: 27px;
}
.home .home-content .text2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
    font-family: 'Megrim', cursive;
    text-shadow: 0 0 5px #1ac6f4,0 0 10px #1ac6f4,0 0 20px #1ac6f4,0 0 40px #1ac6f4,0 0 80px #1ac6f4;
}
.home .home-content .text3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text3 span{
    color: #1ac6f4;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.home .home-content .a{
    display: block;
    color: #fff;
    font-size: 35px;
    padding: 25px 0px;
    margin-top: 20px;
    width: 200px;
    border-radius: 40px;
    box-shadow: 0 0 2px #1ac6f4,0 0 4px #1ac6f4,0 0 8px #1ac6f4,0 0 16px #1ac6f4,0 0 40px #1ac6f4;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    position: absolute;
}

.tt{
   
    position: relative;
    z-index: 1;
    
   
}
.liquid{
 width: 200px;
 height: 200px;
 background: #1ac6f4;
 box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
 position: absolute; 
 top: -80px;
 left: 0;
 transition: .5s;
}

.liquid::before,
.liquid::after{
    content: "";
    width: 140%;
    height: 130%;
    background: rgba(0, 0, 0, 0.521);
    position: absolute;
    top: 8%;
    left: 40%;
    transform: translate(-50%, 75%);
}
.liquid::before{
    border-radius: 45%;
    background-color: rgb(20, 20, 20);
    animation: shake 5s linear infinite;
}

.liquid::after{
    border-radius: 40%;
    background-color: rgba(20, 20, 20, .5);
    animation: shake 10s linear infinite;
}

.home .home-content .a:hover .liquid{
    top: -100px;
}

@keyframes shake{
    0%{
        transform: translate(-40%, -65%) rotate(0deg);
    }
    100%{
        transform: translate(-40%, -65%) rotate(360deg);
    }
}

/*-------------------------------------------*/
@media (max-width: 1300px){
    .home .max-width{
        margin-left: 0px;
    }
}
@media (max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){

    .home .home-content .text2{
        font-size: 70px;
    }
    .home .home-content .text3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
}

@media (max-width: 690px){
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text2{
        font-size: 60px;
    }
    .home .home-content .text3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
}

@media (max-width: 500px){
    .home .home-content .text2{
        font-size: 50px;
    }
    .home .home-content .text3{
        font-size: 27px;
    }
}