.certificates{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background: #111;
}
.certificates .title::before{
    background: #fff ;
}
.certificates .title::after{
    background: #111;
    content: 'Completados';
}

.certificates .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
}
.certificates .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.certificates .carousel .card img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 5px solid crimson;
}